<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <%= link_to "Fleet Management", root_path, class: 'navbar-brand' %>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <%= link_to "Upload", new_vehicle_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to "Vehicles", vehicles_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to "Search", search_path, class: 'nav-link' %>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <%= link_to "CustomerReport", customer_report_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to "OdometerReport", odometer_report_path, class: 'nav-link' %>
        </li>
    </ul>
</nav>