<!DOCTYPE html>
<html>
  <head>
    <title>Fleetmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <% if notice %>
      <div class="container alert alert-success" role="alert" style="margin-top:20px;">
        <%= notice %>
      </div>
    <% end %>

    <div style="margin-top:20px;">
      <%= yield %>
    </div>

  </body>
</html>
